@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

ul {
    /* Remove some default settings */
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    gap: 16px;
}

/* TODO: add in all other sections */
.hero,
.footer,
.info,
.quote,
.footer {
    padding: 0 200px;
}

.hero {
    padding-bottom: 100px;
}

.hero,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

ul a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-container {
    display: flex;
    padding-top: 100px;
    gap: 16px;
}

.hero-left,
.hero-right {
    flex: 1;
}

.hero-left h1 {
    /* Hero main text */
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.hero p {
    /* Hero secondary text */
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    width: 125px;
    height: 35px;
    margin-top: 16px;
    font-size: 18px;
}

.hero-right {
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    padding-bottom: 100px;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 25px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-img {
    /* Border around info section images */
    width: 175px;
    height: 175px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.info-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 175px;
}

/* Caption for info images */
.info-piece p {
    margin-top: 8px;
    color: #545d6b;
    font-size: 18px;
}